<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>创建表model</title>
</head>
<div>
<!--<a href="http://m.writter.cn/index.php/set/yummy/execute/create/all">生成所有</a>-->
{{foreach item=t from=$tables}}
<li><a href="set.php?table={{$t.$table}}">{{$t.$table}}</a></li>
{{/foreach}}
</div>
</body>
</html>
