<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/show.css" rel="stylesheet" type="text/css" />
<link href="css/page.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="wrapper">
       
        <div id="show_list">
                     <h1>{{include file="admin/navigation.html"}}</h1>
            <form action="index.php?action=editSave" method=post> 
	            <table  width="90%" cellspacing="10" cellpadding="0">
	              <tr>
	                <td>标题：
	                <input type="hidden" name="id" value="{{$result.id}}"/><input type="hidden" name="http" value="{{$http}}"/>
	                <input type="text" name="title" value="{{$result.title}}" size="80"/>
	                </td>
	              </tr>
	              <tr>
	                <td>分类：
	                <select name="category_id" id="category_id">
	                {{foreach item=p from=$category}}
	                <option value="{{$p.id}}" {{if $p.id eq $result.category_id}}selected{{/if}}>{{$p.title}}</option>
	                {{/foreach}}
	                </select></td>
	              </tr>
	              <tr>
	                <td>关键字：<textarea type="text" style="width:460px;height:120px" name="keywords">{{$result.keywords}}</textarea></td>
	              </tr>
	              <tr>
	                <td>描&nbsp;&nbsp;&nbsp;述：<textarea type="text" style="width:460px;height:120px" name="description">{{$result.description}}</textarea></td>
	              </tr>
	              <tr>
	                <td>内&nbsp;&nbsp;&nbsp;容：<textarea type="text" style="width:460px;height:120px" name="content">{{$result.content}}</textarea></td>
	              </tr>
	              <tr>
	                <td>缩图地址：<input type="text" name="image_url" value="{{$result.image_url}}" size="80"/></td>
	              </tr>
	              <tr>
	                <td>下载地址：<input type="text" name="down_url" value="{{$result.down_url}}" size="80"/></td>
	              </tr>
	              <tr>
	                <td>重写地址：<input type="text" name="rewriter_url" value="{{$result.rewriter_url}}" size="80"/></td>
	              </tr>
	              <tr>
	                <td>素材来源：<input type="text" name="source" value="{{$result.source}}" size="80"/></td>
	              </tr>
	              
	            </table>
	            <input type="submit" value="submit" />
            </form>
        </div>
</div>

