<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>后台管理登陆</title>


<meta name="MSSmartTagsPreventParsing" content="TRUE">
<meta http-equiv="MSThemeCompatible" content="Yes">
<meta name="verify-v1" content="f5/AIq2N3nurUJ89VFmAhy8ke/4/28Zu9cmFZhC4jB4=" />

<style type="text/css">
.admin {
	margin-top: 200px;
	width: 140px;
	margin-right: auto;
	margin-left: auto;
	height: 60px;
	padding-top: 40px;
	border: 1px solid #003366;
	background-color: #FFFFFF;
	background-image: url(images/user.png);
	background-repeat: no-repeat;
	background-position: 50px 30px;
	padding-left: 90px;
}
.admin a {
	color: #FF6633;
	text-decoration: none;
	font-weight: bold;
}
.admin a:hover {
	text-decoration: underline;
}
body {
	background-color: #D0E9FF;
}
</style>

</head>
<body>
<div class="admin"><a href="{{$domain}}app.php/common/login">管理员登录</a></div>
</body>
</html>
