<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="robots" content="follow,all">
<meta content="{{if $cid gt 0}}{{$category[$cid].keywords}}{{else}}矢量素材下载、素材下载、字体下载、背景花纹素材、可爱素材、超酷素材、网页素材、图标素材、矢量素材{{/if}}" name="keywords"/>
<meta content="{{if $cid gt 0}}{{$category[$cid].description}}{{else}}矢量素材下载、PSD分层素材、EPS格式素材、AI格式素材、各种中英文字体、时尚插画、矢量花纹、矢量底纹、矢量水晶图形、图标下载、精美图片下载、网页模板、酷站欣赏、音效下载、桌面壁纸、网页素材、经典潮流花纹矢量下载、欧美矢量图,矢量图库,矢量图片,矢量图下载,矢量素材,免费矢量图,素材图片,素材下载,免费矢量图{{/if}}" name="description"/>
<link href="/css/index.css" rel="stylesheet" type="text/css" media="screen">
<title>{{if $cid gt 0}}{{$category[$cid].title}}{{else}}素材下载,图片,字体,矢量,壁纸,图标icon,psd{{/if}},矢量素材下载,图片天空素材网</title>
</head>
<body>
<div id="wrapper">
    {{include file='header.html'}}
    <div id="allposts">
         {{foreach item=s key=key from=$list}}
        <div class="list">
            {{foreach item=p from=$s}}
            <div class="eachpost  pEntry pLoad2">
                <div>
                    <div class="postimage">
                        <a href="{{$domain}}{{format key='sucai' id=$p.id}}" title="{{$p.title}}"> <img src="/upload/{{$p.image_url}}" alt="{{$p.title}}" width="220"></a>
                    </div>
                    <div class="contentIndex">
                        <div class="topleft">
                            <h2><a href="{{$domain}}{{format key='sucai' id=$p.id}}" rel="bookmark" title="{{$p.title}}">{{$p.title}} —</a></h2>
                        </div>
                        <div class="topright circle_Showcases">•</div>
                        <div class="clearall"></div>
                        {{$p.description}}
                        <div class="sociable wrapfix">
                            <span class="leftSort">分类：<a rel="nofollow" href="{{$domain}}{{format key='category' cid=$p.category_id}}" title="{{$p.category.title}}">{{$p.category.title}}</a>→</span>
                            <span class="rightTime">{{$p.published_on|date_format:"%Y.%m.%d"}}</span>
                        </div>
                    </div>
                    <!--<div class="small">
                        Emil Olsson,
                        <a href="/">Showcases</a>,
                        <a href="">Speak</a>
                    </div>-->
                </div>
            </div>
            {{/foreach}}
            
        </div>
            {{/foreach}}
    </div>
{{include file='page.html'}}
{{include file='footer.html'}}
</div>
</body>
</html>
